.intro
    margin 0 auto
    padding 6rem 1rem 3rem 1rem


	&__dek
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
	
	&__time
		display block
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center

.header
	max-width: 80rem
	margin 0 auto
    
.intro__hed
	max-width 80rem
	margin 0 auto
	text-align left
	font-family: 'Tinos'
	font-size: 36px
	font-weight 600
	margin-top 3rem

.intro__byline
	max-width 80rem
	margin 0 auto
	margin-top 1rem
	text-align left
	font-size 24px
	font-family: 'Tinos'
	a
		text-decoration: none

.intro__address
	// text-align: left
	font-style: italic
	font-size: 18px
	max-width 80rem
	margin 0 auto
	margin-top 1rem
	padding-bottom 1rem
	border-bottom-style: solid
	border-bottom-color: black
	border-bottom-width: 2px

.pre-article-box
	max-width: 80rem
	margin 0 auto
	font-size: 18px
	padding-top 1rem
	display: flex
	flex-direction: row

.article-info
	flex-grow: 1

.article-abstract
	flex-grow: 4
	margin-left 5rem

.article-info-title
	padding-bottom: 1rem
	border-bottom-style: solid
	border-bottom-color: #000
	border-bottom-width: 2px
	font-size: 16px
	width 10rem

.keywords-title
	font-style: italic
	margin: 0 
	font-size: 16px

.keywords-list
	margin 0
	font-size: 16px

.article-abstract-title
	padding-bottom: 1rem
	border-bottom-style: solid
	border-bottom-color: #000
	border-bottom-width: 2px
	font-size: 16px	

.abstract-text
	p
		font-size: 16px
		margin 0