/* CUSTOM STORY STYLE */
body
  overflow hidden

.prose-para
    margin-top 0

    p
      set-type-size('x-large', true)
      line-height 2.5rem
      margin 1rem 0

        span
          font-family $sans-display
          font-weight 600
          text-transform uppercase
          set-type-size('xxxx-large', true)

.part-1, .part-3, .part-5
  p
    &:last-of-type

      &::before
        content ''
        display block
        width 12rem
        border-top 2px solid $red
        margin 6rem 0 0.5rem 0

    span
      font-family $sans-display
      font-weight 600
      text-transform uppercase
      set-type-size('xxxx-large', true)

.nav-bar
    width 100%
    margin 0 auto 2rem 0
    display flex
    flex-direction row
    justify-content center
    align-items center
    height 3rem
    background-color $off-black

.current-slide-num
    margin 0 1rem
    set-type-size('medium', true)
    color $white
    font-family $sans-display
    font-weight 600
    letter-spacing 2px
    width 4rem
    text-align center

.nav-btn-img
    height 1rem
    width auto
    vertical-align: bottom
    cursor pointer

.btn-back
    display flex
    flex-direction column
    justify-content center
    align-items center
    cursor pointer
    background-color $red
    border-radius 50%
    width 1.5rem
    height 1.5rem

    &:hover
      transform: scale(1.2)

    svg
      stroke $white
      width 1rem
      height 1rem
      stroke-width 3px

.btn-fwd
    display flex
    flex-direction column
    justify-content center
    align-items center
    cursor pointer
    background-color $red
    border-radius 50%
    width 1.5rem
    height 1.5rem

    &:hover
      transform: scale(1.2)

    svg
      stroke $white
      width 1rem
      height 1rem
      stroke-width 3px

    &.is-disabled
      background-color $gray
      cursor none

      &:hover
        transform: scale(1)

.chart-nav
    display: flex
    flex-direction: row
    justify-content: space-around

.chart-fig
    display: flex
    flex-wrap: wrap

.sentence
    display inline

.sentence-box
    text-align justify
    margin-bottom: 0.5rem

.chart-static
    max-width 50rem
    margin 0 auto
    padding 0 1rem
    position relative
    height 100vh

.chart-static-meta, .chart-static-container, .chart-static-dynamic
  margin-top 6rem

.chart-dynamic
  padding 0 1rem

.chart-static-title
    text-align: left
    font-family: 'Tinos'
    font-size 24px
    font-weight: 600
    margin-top 0
    margin-bottom 0.5em

.chart-static-img
    width 100%
    height auto

.legend
    margin 0 auto

.legend-title
    text-align: center
    margin 0
    font-family: 'Tinos'
    font-weight: 600

.legend-item-container
    display: flex
    flex-direction: row
    justify-content: space-evenly
    margin 0

.legend-item-labels-container
    display: flex
    flex-direction: row
    justify-content: space-evenly
    margin 0

.legend-item
    flex-grow: 1
    text-align: center
    font-size: 8px

.legend-item-text
    font-family: 'Arial'
    flex-grow: 1
    text-align: center
    font-size: 16px

.hidden
    display none

.methods
    max-width $column-width
    margin 0 auto

    span
      font-family $sans-display
      font-weight 600
      text-transform uppercase
      set-type-size('large', true)
