/* CUSTOM STORY STYLE */
body
  overflow hidden

.story
  position absolute
  width 100%
  height 100vh
  display flex
  align-items center
  background-image url('assets/images/lab.jpg')
  background-repeat repeat-x
  background-size auto 100%
  background-position center

  &.is-chart
    background transparent

  &.is-methods
    background  $off-black

    .chart-static-meta
      background  $off-black

      p, span
        color $white

      a
        color $white
        border-bottom 1px solid $white

.prose-para
    margin-top 0

    p
      set-type-size('root', true)
      line-height 1.75rem
      margin 1rem 0
      +mq('bp-3')
        set-type-size('medium', true)
        line-height 2rem
      +mq('bp-4')
        set-type-size('x-large', true)
        line-height 2.5rem

        span
          font-family $sans-display
          font-weight 600
          text-transform uppercase
          set-type-size('xxxx-large', true)

.part-1, .part-3, .part-5
  p
    &:last-of-type

      &::before
        content ''
        display block
        width 12rem
        border-top 2px solid $red
        margin 2rem 0 0.5rem 0
        +mq('bp-4')
          margin 4rem 0 0.5rem 0
        +mq('bp-4')
          margin 6rem 0 0.5rem 0

    span
      font-family $sans-display
      font-weight 600
      text-transform uppercase
      set-type-size('x-large', true)
      line-height 1.5rem
      +mq('bp-3')
        line-height 2rem
        set-type-size('xx-large', true)
      +mq('bp-4')
        set-type-size('xxxx-large', true)

.nav-bar
    z-index set-index('overlay')
    display flex
    position absolute
    bottom 0rem
    width 100%
    margin 0 auto
    flex-direction row
    justify-content center
    align-items center

    &.is-chart
      .current-slide-num
        color $off-black
        text-shadow none

    &.hidden
      display none

.current-slide-num
    margin 0 1rem 3.5rem 0
    set-type-size('x-large', true)
    color $white
    text-shadow $off-black 1px 0 10px
    font-family $sans-display
    font-weight 600
    letter-spacing 2px
    width 4rem
    text-align center

.nav-btn-img
    height 1rem
    width auto
    vertical-align: bottom
    cursor pointer

.btn-back
    position absolute
    left 3rem
    bottom 3rem
    display flex
    flex-direction column
    justify-content center
    align-items center
    cursor pointer
    background-color $red
    border-radius 50%
    width 3.5rem
    height 3.5rem

    &:hover
      transform: scale(1.2)

    svg
      stroke $white
      width 60%
      height 60%

.btn-fwd
    position absolute
    right 3rem
    bottom 3rem
    display flex
    flex-direction column
    justify-content center
    align-items center
    cursor pointer
    background-color $red
    border-radius 50%
    width 3.5rem
    height 3.5rem

    &:hover
      transform: scale(1.2)

    svg
      stroke $white
      width 60%
      height 60%

    &.is-disabled
      background-color $gray
      cursor none

      &:hover
        transform: scale(1)

.spin-imgs
  width 100%
  display flex
  flex-direction column
  flex-wrap wrap
  +mq('bp-5')
    flex-direction row

  .img-wrap
    width 100%
    margin 0.5rem 0
    background-color $white
    padding 1rem
    border-top 2px solid $red
    box-shadow 5px 5px 10px $gray-light
    +mq('bp-5')
      width calc(50% - 1rem)
      margin 0.5rem

    &.hide
      display none
      +mq('bp-5')
        display block

.chart-nav
    display: flex
    flex-direction: row
    justify-content: space-around

.chart-fig
    display: flex
    flex-wrap: wrap

.sentence
    display inline
    fill $gray-dark

.sentence-box
    text-align justify
    margin-bottom: 0.5rem

.chart-static
    position relative
    width 100%
    height 100vh
    margin -5rem auto 0 auto
    padding 0

.chart-static-meta
  position absolute
  max-width 50rem
  left 50%
  top 50%
  transform translate(-50%, -50%)
  width 85%
  padding 2rem
  background-color rgba($white, 0.9)
  z-index 850
  margin 0 auto
  +mq('bp-3')
    width 80%
    padding 3rem
  +mq('bp-4')
    width 60%

.chart-dynamic
  padding 1rem
  position absolute
  width 100%

.chart-dynamic-legend
  opacity 0
  margin 3rem 0 2rem 0

  &.is-visible
    opacity 1

.chart-static-title
    text-align: left
    font-family: 'Tinos'
    font-size 24px
    font-weight: 600
    margin-top 0
    margin-bottom 0.5em

.chart-static-img
    width 100%
    height auto

.legend
    margin 0 auto

.legend-title
    text-align: center
    margin 0
    font-family: 'Tinos'
    font-weight: 600

.legend-item-container
    display: flex
    flex-direction: row
    justify-content: space-evenly
    margin 0

.legend-item-labels-container
    display: flex
    flex-direction: row
    justify-content: space-evenly
    margin 0

.legend-item
    flex-grow: 1
    text-align: center
    font-size: 8px

.legend-item-text
    font-family: 'Arial'
    flex-grow: 1
    text-align: center
    font-size: 16px

.hidden
    display none

.methods
    max-width $column-width
    margin 0 auto

    span
      font-family $sans-display
      font-weight 600
      text-transform uppercase
      set-type-size('large', true)

.prose
  padding 0
