<div class='intro'>
    <div class='cover-container'>
        
        <div class='cover-left'>
            <img src='assets/images/cover_left_panel.svg'/>
 
        </div>
        <div class='cover-right'>
            <img src='assets/images/cover_right_panel.svg'/>
        </div>
    </div>
</div>

