<div class='intro'>
    <div class='cover-container'>

        <div class='cover-left'>
          <div class='title-wrap'>
            <img inline src='science-etc.svg'>
          </div>
          <!--
          <h1 class='rotate'>science</h1>
          <div class='weekly-wrapper'>
            <div class='dot-block'></div>
            <h3>weekly</h3>
          </div>
          -->
        </div>
        <div class='cover-right'>
          <div class='details'>
            <a href='https://pudding.cool/'><img inline src='pudding/wordmark.svg'></a>
            <p>{{{doc.intro}}}</p>
            {{!-- <p>presents a visual exploration of topics in science by <a href='https://pudding.cool/author/ilia-blinderman/'>Ilia Blinderman</a></p> --}}
            <div class='weeks'>
              <div class='week'>
                <p class='date'>Week 1</p>
                <p class='topic'>Reproducibility</p>
              </div>
            </div>
          </div>
          <div class='arrow'>
            <div class='pulse-circle'></div>
            <div class='button-circle'>
              <img inline src='arrow-right.svg'>
            </div>
          </div>
        </div>
    </div>
</div>
