<section class='story'>
    <div class='chart'>
        <div class='chart-meta'></div>
        <div class='chart-nav'>
            <div class='btn' id='btn-1'>step 1</div>
            <div class='btn' id='btn-2'>step 2</div>
            <div class='btn' id='btn-3'>step 3</div>
            <div class='btn' id='btn-4'>step 4</div>
            <div class='btn' id='btn-5'>step 5</div>
            <div class='btn' id='btn-6'>step 6</div>
        </div>
        <figure class='chart-fig'>
            {{!-- <svg class = 'viz'></svg> --}}
        </figure>
    </div>
</section>